/* body{
    margin: unset;
}

header{
    background: #AEC6CF;
    padding: 20px 30px;
    margin-bottom: 30px;
}

header h1{
    color: white; 
    font-family: sans-serif;
}

footer{
    background: #AEC6CF;
    text-align: center;
}

footer p{
    padding: 20px;
    font-family: sans-serif;
} */